@model BookStore.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Автор</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Имя:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Фамилия:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            Количество книг:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityOfBooks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuthorId">Редактировать</a> |
    <a asp-action="Index">Назад к таблице</a>
</div>
